html body {
  margin: 0;
  padding: 0;
}

body {
}

.top-section-text h2 {
  color: seashell;
}

.top-section-text h4 {
  color: seashell;
}

header {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  display: flex;
  width: 1250px;
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  align-items: center;
  z-index: 1;
}

header .logo {
  flex-grow: 1;
}

.logo img {
  padding-left: 10px;
  height: 50px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: seashell;
}

.content {
  display: flex;
  width: 1250px;
  background-color: black;
}

.content .top-image {
  display: flex;
  background-image: url(images/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  margin: 69px 25px 80px 25px;
  opacity: 0.9;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.top-section-text {
  height: 100px;
  width: 1200px;
  background-color: black;
}

.content .mid-section {
  display: flex;
  width: 1000;
  height: 500;
}
